<div class="footer">
  <footer class="navbar navbar-fixed-bottom" style="padding: 5px 10px 5px 10px; border-top:1px solid #cecece;">
    <span id="footer-text">&copy; 2017 Gains</span>
  </footer>
</div>
