<title>upload</title>
{{#if user}}
<h2 class="page-header">Upload</h2>
<form action="upload" method="POST">
  <div class="form-group">
    <label>Photo Name</label>
    <input type="text" class="form-control" name="photo_name" required="true"/>
    <br />
    <input type="file" id="file-input" class="form-control" accept="image/*" name="photo-file-name"/>
    <input id="photo-url" type="hidden" name="photo_url" value="photo_url" />
  </div>
  <span id="upload-button"></span>
</form>
<script src="/javascripts/s3_ajax.js"></script>
{{else}}
  <script>location.replace("/users/login");</script>
{{/if}}
