<title>account</title>
<h2 class="page-header">Account</h2>

<div class="avatar">
  <p>
    <img id="avatar" src="{{user.avatarURL}}" style="height: 100px; width: 100px; border-radius: 50%;" />
  </p>
</div>

<form action="/avatar/upload" method="POST">
  <div class="form-group">
    <label class="btn btn-default btn-file">
      Edit Avatar<input type="file" id="file-input" accept="image/*" name="photo-file-name" style="display: none;"/>
    </label>
    <input id="photo-url" type="hidden" name="avatar_url" value="avatar_url" />
  </div>
  <span id="upload-button" type="hidden"></span>
</form>
<h3 id="username">{{user.local.username}}</h3>
{{#unless user.facebook.name }}
<hr />
  <p>
    <strong>Connect to Facebook account</strong>
  </p>
  <a href="/auth/connect-facebook" class="link link-primary"><img src="/images/facebook-login-blue.png"  style="width:150px;height:35px;border:0;"></a>
{{/unless}}
{{#unless user.google.name }}
<hr />
  <p>
    <strong>Connect to Google account</strong>
  </p>
  <a href="/auth/connect-google" class="link link-primary"><img src="/images/google-login-red.png"  style="width:200px;height:31px;border:0;"></a>
{{/unless}}
{{#unless user.local.username}}
  <script>location.replace("/users/login");</script>
{{/unless}}
<script src="/javascripts/s3_avatar_ajax.js"></script>
