<title>profile</title>
<a href="/users/profile/edit" class="edit-profile btn btn-default">Edit Profile</a></li>
<h2 id="username">{{user.username}}</h2>
<h3 id="first_name">{{user.first_name}}</h3>
<h3 id="last_name">{{user.last_name}}</h3>
